* {
	border: 1px dashed red;
	min-height: 10px;
}

body {
	background: black;
}

.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.postcard-header {
	display: flex;

	background: radial-gradient(circle, rgb(65, 27, 105), rgb(139, 101, 200));
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: auto;
	margin: auto;
	margin-left: 0;
}

.postcard-body {
	display: flex;
}

.body-left p {
	margin-top: 0;
}

.body-right p {
	margin-top: 0;
	margin-right: 130px;
}

.body-left,
.body-right {
	padding: 10px;
	background: radial-gradient(circle, rgb(65, 27, 105), rgb(139, 101, 200));
}

.inputs-R {
	border: none;
	border-bottom: grey;
}

.postcard-footer {
	text-align: center;
	background: radial-gradient(circle, rgb(39, 38, 39), rgb(111, 111, 112));
	padding: 15px;
}

button {
	color: bisque;
	background: radial-gradient(circle, rgb(65, 27, 105), rgb(139, 101, 200));
	padding: 5px;
}
